.features {
  padding: 95px 233px 100px 232px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}
.features_heading {
  font-size: 42px;
  font-family: var(--heading-font);
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -4px;
  color: var(--h1-and-text-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: #22e27f;
  text-underline-offset: -5px;
  text-decoration-thickness: 5px;
}
.features_sec_content {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.content_box_one {
  display: flex;
  gap: 80px;
}
.feature_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature_card_text_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.feature_card_text_heading {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--st-font);
  color: var(--h1-and-text-color);
  line-height: 24px;
}
.feature_card_text_section_details {
  font-size: 16px;
  line-height: 26px;
  color: var(--h1-and-text-color);
  font-family: var(--st-font);
  opacity: 70%;
}
.content_box_two {
  display: flex;
  gap: 80px;
}
